---
import '../styles/global.css'
import '@fontsource-variable/onest';
import Header from '../components/Header.astro'
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/portafolio/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Portafolio Julian Cañon</title>
	</head>
	<body>
		<Header/>
		<slot />
	</body>
</html>

<style is:global>
	:root{
		color-scheme: dark;
	}
	html{
		font-family: 'Onest Variable', sans-serif;
	}
	body{
		display: flex;
		background: rgba(26, 25, 42, 0.3);
		flex-direction: column;
		min-height: 100vh;
	}
</style>
